#breadcrumb {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fundo);
  gap: 20px;
}

.breadcrumb-titulo {
  min-height: 64px;
  position: relative;
  color: #fff;
  background-color: var(--azulSmul);
  padding: 0 215px;
  border-radius: 4px;
}

.breadcrumb-voltar {
  background-color: #fff;
  color: #000;
  padding: 32px 215px 4px 215px;
}

.bg-azul {
  background-color: var(--azulSmul);
}

.bg-azul-claro {
  background-color: var(--azulzinhoSmul);
}

.bg-laranja {
  background-color: var(--laranja);
}

.botao-voltar {
  display: block;
  align-items: center;
  padding: 7px 0;
  border-radius: 4px;
  color: #000;
  max-width: 80px;
  text-decoration: none;
}

.botao-voltar:focus,
.botao-voltar:active,
.botao-voltar:hover {
  text-decoration: none;
}

.seta-voltar {
  margin: 0 10px 0 0;
  display: inline-block;
}

.seta-voltar path {
  stroke: #000;
}

.texto-voltar {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 17px;
  display: inline-block;
}

.titulo-interna {
  flex-grow: 1;
  text-align: start;
  display: grid;
}

.titulo-interna h1 {
  font-size: 2.6rem;
  font-weight: 700;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 64px;
}

@media (max-width: 1024px) {
  .breadcrumb-titulo {
    padding: 0 2%;
    margin: 0 2%;
  }

  .breadcrumb-voltar {
    padding: 0 4% 4px 4%;
  }
}
