#breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  min-height: 54px;
  position: relative;
}

#breadcrumb * {
  color: #fff;
  align-items: center;
}

.bg-azul {
  background-color: var(--azul);
}

.bg-azul-claro {
  background-color: var(--azul-claro);
}

.bg-laranja {
  background-color: var(--laranja);
}

.botao-voltar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.seta-voltar {
  margin: 0 10px;
  display: flex;
}

.seta-voltar svg {
  height: 20px;
}

.seta-voltar path {
  fill: #fff;
}

.texto-voltar {
  font-size: 1.2rem;
}

.titulo-interna {
  flex-grow: 1;
  text-align: center;
  display: grid;
}

.titulo-interna h1 {
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
}
