.container-editais {
  padding: 20px 235px 80px 215px;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 1.3;
}

.container-editais strong,
.container-editais h2 {
  font-weight: 700;
}

.introducao-editais {
  margin-bottom: 40px;
}

.edital::after {
    content: '';
    margin-top: 24px;
    margin-bottom: 48px;
    display: block;
    background-color: #000;
    height: 2px;
    width: 100%;
    max-width: 820px;
}

.link-edital {
    color: var(--azulSmul);
    text-decoration: underline;
    text-underline-offset: 2px;
}
