#container-mapa {
  margin: 16px 0;
  border: rgba(0,0,0, 0.1) 1px solid;
}

.container-introducao {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
  width: 720px;
  padding-bottom: 24px;
}

.introducao {
  padding: 18px 24px;
  font-size: 2.2rem;
  line-height: 1.2;
}

.introducao-destaque {
  font-weight: 700;
  color: var(--azul);
}

.introducao-botao {
  padding: 4px 16px;
  color: #fff;
  border: none;
  background-color: var(--azul);
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 24px;
}

.legenda {
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1;
  right: 12px;
  bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.leg-aiu {
  display: inline-block;
  width: 28px;
  height: 16px;
  background-color: #b3ef93;
  margin-right: 6px;
  vertical-align: middle;
}

.leg-requalifica {
  display: inline-block;
  width: 28px;
  height: 16px;
  background-color: #ffea68;
  margin-right: 6px;
  vertical-align: middle;
}

.container-paginas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.botao-pagina {
  flex: 0 0 auto;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.botao-pagina:nth-child(n + 1) {
  background-color: var(--azul);
}

.botao-pagina:nth-child(n + 2) {
  background-color: var(--laranja);
}

.botao-pagina:nth-child(n + 3) {
  background-color: var(--azul-claro);
}

.botao-pagina .container-titulo-pagina {
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #fff;
}

.botao-pagina .titulo_1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.botao-pagina .titulo_2 {
  font-size: 2.4rem;
}

@media (max-width: 1440px) {
  .container-paginas {
    justify-content: space-evenly;
  }
}
