.container-inscricoes {
  padding: 20px 235px 80px 215px;
  background-color: #fff;
  font-size: 1.8rem;
  line-height: 1.3;
}

.container-inscricoes strong,
.container-inscricoes h2 {
  font-weight: 700;
}

.introducao-inscricoes {
  margin-bottom: 40px;
}

.titulo-inscricoes,
.subtitulo-inscricoes,
p {
  margin-bottom: 20px;
}

.titulo-inscricoes,
.subtitulo-inscricoes {
  font-size: 2.6rem;
}

.titulo-inscricoes {
  color: var(--azulSmul);
}

.botao-externo {
  background-color: var(--fundoMedio);
  border-radius: 4px;
  display: inline-block;
  padding: 20px 16px;
}

.botao-externo a {
  text-decoration: none;
}

.botao-externo span {
  color: #000;
  font-weight: 600;
}

.botao-externo svg {
  vertical-align: bottom;
  margin-left: 10px;
}

a {
  color: var(--azulSmul);
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (max-width: 1024px) {
  .container-inscricoes {
    padding: 20px 4%;
  }
}
