.container-transparencia {
  padding: 32px 215px 64px 215px;
  background-color: #fff;
}

.introducao {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 40px;
}

.introducao a {
  color: var(--azulSmul);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.container-subvencionado::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--azulSmul);
  width: 100%;
  margin-bottom: 20px;
}

.container-subvencionado:last-child::after {
  display: none;
}

.subvencionado {
  padding: 24px 16px;
}

.subvencionado-nome {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 6px;
}

.subvencionado-info {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 16px;
}

.subvencionado-info span {
  display: block;
}

.subvencionado-info a {
  color: var(--azulSmul);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.subvencionado-valores {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.subvencionado-box {
  padding: 9px 0;
  background-color: var(--fundoMedio);
  flex: 1;
  text-align: center;
  min-width: 192px;
  max-width: 196px;
}

.subvencionado-box.sem-valor {
  max-width: 240px;
}

.subvencionado-box .subtitulo,
.subvencionado-box .valor {
  line-height: 1.3;
  font-weight: 600;
  display: block;
}

.subvencionado-box .subtitulo {
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.subvencionado-box .valor {
  font-size: 2rem;
}

.valor-subvencao {
  color: var(--azulSmul);
}

.valor-pago {
  color: #2f8600;
}

/* Animação dos elementos do accordion */
.subvencionado-nome,
.subvencionado-info span,
.subvencionado-info a,
.subvencionado-box span {
  transition: color 0.6s;
}

.container-subvencionado::after,
.subvencionado-box {
  transition: background-color 0.6s;
}

.transparente *,
.transparente *::after {
  color: transparent !important;
  background-color: transparent !important;
}

@media (max-width: 1024px) {
  .container-transparencia {
    padding: 16px 4% 32px 4%;
    background-color: #fff;
  }

  .subvencionado-info span {
    margin-bottom: 8px;
  }
}
